@import url("https://fonts.googleapis.com/css2?family=Forum&family=Padauk:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  font-size: 20px;
  font-family: "Poppins";
}

.name {
  font-size: 3.5rem;
  font-family: "Forum";
  font-weight: 400;
}

.container {
  width: 60%;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1795a6;
}

p {
  text-indent: 40px;
  line-height: 2.2em;
  font-size: 1.05rem;
  font-weight: 600;
  text-align: justify;
  color: #454443;
}

a {
  text-decoration: none;
  color: #1795a6;
  display: block;
  text-align: end;
  font-weight: 900;
  font-size: 1.1rem;
}
